<section>
  <%= render 'shared/user', user: @user %>
  <div class="blue-box bio">
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </div>
  <ul>
    <%= render partial: 'shared/post', collection: @recent_posts %>
  </ul>
  <div>
    <button type="button"><%= link_to 'See all posts', user_posts_path(@user) %></button>
    <button type="button"><%= link_to 'New post', new_user_post_path(@user) %></button>
  </div>
</section>
