<li>
  <h2><%= link_to post.title, user_post_path(user_id: post.author.id, id: post.id) %> #<%= post.id %></h2>
  <p><%= post.text %></p>
  <%= render partial: 'shared/counters', locals: { post: post } %>
  <%= render partial: 'shared/comments', locals: { post: post } %>
</li>
